<section id="contato">
    <div class="container">
        <div class="titulo">Contatos</div>
        <div class="contact-container">
            <a href="mailto:wilianevitoria683@gmail.com?subject=Assunto%20Aqui&body=Ol%C3%A1,%20quero%20falar%20com%20voc%C3%AA!" target="_blank" style="text-decoration: none;">
                <mat-card class="contact-card">
                    <img src="email.png" width="90">
                    <p style="color: black;">Email</p>
                </mat-card>
            </a>
            <a href="https://wa.me/5581989796920" target="_blank" style="text-decoration: none;">
                <mat-card class="contact-card">
                    <img src="whatsapp.jpg" width="80">
                    <p style="color: black;">WhatsApp</p>
                </mat-card>
            </a>
        </div>
    </div>
</section>