<section id="redes">
    <div class="titulo">Redes</div>
    <div class="container">
        <div class="social-container">
            <a href="https://www.linkedin.com/in/wiliane-vitoria-maria-da-silva-627754270/" target="_blank" style="text-decoration: none;">
                <div class="conteudo-item">
                    <img src="Linkedin.jpeg" width="60">
                    <p style="color: black;">Linkedin</p>
                </div>
            </a>
            <a href="https://github.com/LiliWili" target="_blank" style="text-decoration: none;">
                <div class="conteudo-item">
                    <img src="github.png" width="70">
                    <p style="color: black;">GitHub</p>
                </div>
            </a>
        </div>
    </div>
</section>