<section id="home" class="header">
    <div class="conteudo">
        <div class="texto">
            <h1>Wiliane Vitoria</h1>
            <h4>Full Stack</h4>
            <p>Formada em Análise e Desenvolvimento de Sistemas, com experiência como estagiária em Engenharia de Dados na Compass UOL, onde pude aplicar e aprimorar minhas habilidades em análise e soluções baseadas em dados. Minha trajetória acadêmica inclui a liderança de um projeto desafiador para a criação de uma startup fictícia, a Hugh Tech. Focada no monitoramento de recém-nascidos, a solução foi alinhada ao ODS 3 (Saúde e Bem-Estar) e reconhecida com uma premiação de R$ 1.000. Tenho um perfil criativo, prático e curioso, sempre em busca de novos desafios que me tirem da rotina. Gosto de trabalhar com soluções que aliam inovação e tecnologia, especialmente em projetos que promovam impacto positivo e tragam benefícios reais para as pessoas.</p>
        </div>
        <div class="imagem">
            <img src="minhaFoto.jpeg">
        </div>
    </div>
</section>